.subTitle {
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.center{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 26px;
    font-family: sans-serif;
    margin-top: 50px;
}